.formControl input,
.formControl textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    padding: 6px;
    margin: 5px;
    border: solid cadetblue 2px;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 2px 2px 3px 2px inset;
}

.formControl.error input,
.formControl.error textarea {
    border: solid red 2px;
    border-radius: 10px;
}

.formControl.error span{
    color: red;
}

.formSummariError{
    border: solid red 2px;
    padding: 5px;
    color: red;
}
.Login{
    margin: 2px;
    padding: 2px;
    background-color: cadetblue;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    text-indent: 5px;
    line-height: 20px;
    box-shadow: rgb(0, 0, 0) 2px 2px 3px 2px;
}