.nav {
  grid-area: n;
  background-color: rgba(240, 248, 255, 0.3);
  border-radius: 10px;
  text-align: center;
  box-shadow: rgb(0, 0, 0) 2px 2px 3px 2px;
}

.nav a {
  margin: 0;
  padding: 6px;
  background-color: cadetblue;
  color: black;
  border-radius: 20px;
  text-decoration: none;
  text-indent: 10px;
  line-height: 50px;
  box-shadow: rgb(0, 0, 0) 2px 2px 3px 2px;
}

.nav a:hover {
  background-color: aquamarine;
}
.nav a:active {
  color: brown;
  background-color: snow;
  box-shadow: rgb(0, 0, 0) 2px 2px 3px 2px inset;
}
